#main__header {
    text-align: center;
}

#inventory {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#inventory__left {
    padding: 10px
}

#inventory__right {
    padding: 10px
}

#orders {
    display: flex;
    justify-content: space-around;
}

#orders__left {
    border: dotted 1px dodgerblue;
    padding: 10px 40px;
}

#orders__right {
    border: dotted 1px dodgerblue;
    padding: 10px 40px;
}

#cart__contents {
    padding: 0px 10px 10px 10px;
}